.about {
  background-color: black;
}

.about h3 {
  color: purple;
}

.about .box {
  background-color: goldenrod;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 50px;
  width: 200px;

  margin-left: auto;
  margin-right: auto;
}
